{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    
</body>
</html>
<header>
    <h1><a href="{% url 'Home' %}">Django blog</a></h1>
    <a href="{% url 'Home' %}">Home</a>
    <a href="{% url 'AboutUs' %}">About</a>
    <div>
        <a href="{% url 'post_new' %}">New Blog Post</a>
    </div>
</header>

<body>
    {% block content %}
    {% endblock content %}
</body>
